!pip install yfinance
!pip install bs4
!pip install nbformat
!pip install --upgrade plotly

In [2]:
import yfinance as yf
import pandas as pd 
import requests 
from bs4 import BeautifulSoup 
import plotly.graph_objects as go 
from plotly.subplots import make_subplots

In [3]:
import plotly.io as pio 
pio.renderers.default = "iframe"

In [5]:
import warnings
warnings.filterwarnings("ignore",category=FutureWarning)

In [81]:
def mak_graph(stock_data,revenue_data,stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historica; Revenue"), vertical_spacing=.3) 
    stock_data_specific = stock_data[stock_data.Date <= '2021-06-14'] 
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30'] 
    fig.add_trace(go.scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.close.astype("float"), name="Share Price"), row=1, col=1) 
    fig.add_trace(go.scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1) 
    fig.update_xaxes(title_text="Date", row=1, col=1) 
    fig.update_xaxes(title_text="Date", row=2, col=1) 
    fig.update_yaxes(title_text="price ($US)", row=1, col=1) 
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1) 
    fig.update_layout(showland=False, 
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True) 
    fig.show()
    from IPython.dispaly import display, HTML 
    fig_html = fig.to_html() 
    display(fig_html)

In [8]:
display

In [9]:
tesla=yf.Ticker("TSLA")

In [10]:
tesla_data=tesla.history(period="max")

In [11]:
tesla_data.reset_index(inplace=True)

In [12]:
tesla_data.head(6)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
5,2010-07-07 00:00:00-04:00,1.093333,1.108667,0.998667,1.053333,103825500,0.0,0.0

In [32]:
soup = BeautifulSoup(html_data,'html.parser')

In [23]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [27]:
html_data= requests.get(url).text

In [37]:
tesla_revenue = pd.DataFrame(columns=['Date','Revenue']) 

for table in soup.find_all('table'):
    rows = table.find_all('tr') 
    
    for row in rows:
        col = row.find_all('td') 
        if col != []:
            date = col[0].text 
            revenue = col[1].text.replace('.','').replace('$','')
        tesla_revenue=tesla_revenue.append({"Date":date, "Revenue": revenue}, ignore_index=True)

In [38]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace('.|\$',"",regex=True)

In [40]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [43]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [44]:
GameStop= yf.Ticker("GME")

In [46]:
gme_data = GameStop.history(period = "max")

In [51]:
gme_data.reset_index(inplace=True)
gme_data.head(6)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0
5,2002-02-21 00:00:00-05:00,1.656318,1.670626,1.641169,1.658001,6976800,0.0,0.0

In [52]:
url = "https://cf-course-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock/html"

In [54]:
html_data_2 = requests.get(url).text

In [55]:
print(html_data_2)

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Error><Code>NoSuchBucket</Code><Message>The specified bucket does not exist.</Message><Resource>/cf-course-data/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock/html</Resource><RequestId>363fc880-df42-4644-835e-a02dc8f7efcc</RequestId><httpStatusCode>404</httpStatusCode></Error>

In [56]:
soup = BeautifulSoup(html_data_2,'html.parser')

/opt/conda/lib/python3.12/html/parser.py:171: XMLParsedAsHTMLWarning:

It looks like you're parsing an XML document using an HTML parser. If this really is an HTML document (maybe it's XHTML?), you can ignore or filter this warning. If it's XML, you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the lxml package installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.

In [69]:
gme_revenue = pd.DataFrame(columns = ['Date','Revenue'])

for  in soup.find('tbody').find_all('tr'):
    
    
    if('GameStope Querterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')

        for row in rows:
            col = row.find_all('td')

            if col !=[]:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                gme_revenue = gme_revnue.append({"Date":date, "Revenue":revene},ignore_index=True)

In [75]:
gme_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [77]:
gme_revenue.head()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [82]:
mak_graph(gme_data, gme_revenue, 'GameStop')

/tmp/ipykernel_435/1362198516.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

AttributeError: 'DataFrame' object has no attribute 'close'

In [83]:
mak_graph(tesla_data, tesla_revenue, 'Tesla')

/tmp/ipykernel_435/1362198516.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

AttributeError: 'DataFrame' object has no attribute 'close'